<div class="card">
  <button attr.data-testid="{{user.firstName}} {{user.lastName}} {{user.photoUrl}}" class="button-card" id="profil" routerLink="/home-page/{{user.id}}">
    <h2>
      <i class="fas fa-user"></i>{{user.firstName}}
      <br>{{user.lastName}}
    </h2>
  </button>
  <div>
    <img src="{{user.photoUrl}}" alt="Photo du patient" class="imagepatient" />
  </div>
  <button id="editUser" attr.data-testid="bouton {{user.firstName}} {{user.lastName}} {{user.photoUrl}}" [ngStyle]="{'visibility': visibility}"  class="btn" routerLink="/user-edit/{{user.id}}">Modifier ce patient</button>
</div>
