@import '../../../styles/card.scss';
#profil{
  background-color: unset;
  border: none;
}
.card{
  margin-top: unset;
  padding: 0.5em;
}
#bt{
  visibility: hidden;
}
#bs{
  visibility: hidden;
}

.imagepatient{
  margin-left: 25%;
  width: 25%;
  height: auto;

}
