@import "./variables";

.card {
  background: $white;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 0 1em 1em 1em;
  border-radius: 20px;
  margin-top: 2em;
}

.button-card {
  background-color: $white;
  border: solid 1px $blue;
  color: $blue;
  font-weight: bold;
  padding: 0.5em 1em;
  margin:2px;

}

.button-card:hover {
  cursor: pointer;
}

.button-card{
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: $blue;
  color: $white;

}

h2{
  text-align: center;
  font-size: 30px;
  color: $blue;
}

*{
  text-decoration: none;
}


