@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  background: $blue;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.navigation {
  font-size: 0.7em;
  padding-left: 0.5em;
  color: white;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: $white;
  text-decoration: underline;
}
#ff{
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: -3px;
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 3px 5px;
  text-decoration: none;

}

#profil{
    position: absolute;
    right: 10%;
    margin-top: -3px;
    margin-right: 10px;
    background-color: lightblue;
    border-radius: 10px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
}

#home{
  vertical-align: bottom;
  margin-right: 5px;
}

#polyquiz{
  vertical-align: top;
  margin-right: 5px;
}

.logo{
  display: inline;
  background-color: darkblue;
  color: lightblue;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 1px 7px 7px;
  border-radius: 10px;
}
