
<div class="theme-list">
    <div class="theme" *ngFor="let theme of themeList">
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-theme [theme]="theme" (themeSelected)="themeSelected($event)" (deleteTheme)="deleteTheme($event)" (editTheme)="editTheme($event)"></app-theme>
    </div>
</div>
<app-theme-form class="themeForm" [ngStyle]="{'visibility': visibility}"></app-theme-form>

