@import '../../../styles/card.scss';
@import '../../users/user-list/user-list.component.scss';

#form1, #form2{

  margin: 3% auto;
  width: 50%;
}

#form2{
  margin-bottom: 5%;
  margin-top: -0.5%;
}
