<div class="card" id="form1">
  <h2>Créer un nouveau thème</h2>
  <form class="theme-form" [formGroup]="themeForm">
    <label for="name">
      Titre du thème <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="image">
      Image <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
    <br>
    <br>
    <button type="submit" class="button-card" id="Créer_le_thème"(click)="addTheme()">Créer le thème</button>
  </form>
</div>
  <div class="card" id="form2">
  <form class="deleteform" [formGroup]="deleteForm">
    <label for="id">
      <h2>Supprimer un thème </h2>
      <label>Choisir un thème à supprimer :</label> <br>
      <select class="input-custom" id="id" [formControlName]="'id'">
        <option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</option>
      </select>
    </label>
    <br>
    <br>
    <button type="submit" class="button-card" data-test-id="supprimer" (click)="deleteTheme()" >Supprimer le thème</button>
  </form>
  </div>
<form [formGroup]="recherche">
  <div class="search-bar" id="searchDiv">
    <input for="motrecherche" type="text" id="inputText" placeholder="Ecrire le nom d'un thème "[formControlName]="'motrecherche'" >
    <div></div>
    <button type="submit" id="search" (click)="getThemes()">Rechercher</button>
  </div>
</form>
<br>
<div class="card" *ngFor="let theme of themes">
  <div class="theme-list">
    <app-theme [theme]="theme" ></app-theme>
  </div>
</div>
