
  <div class="card" [ngStyle]="{'width': width,'margin-left':margin}">
    <h1 class="question-question">

      <p id="yo" >
      {{question.label}}
       </p>
    </h1>
    <button class="button-card" id="prec" (click)="getPrevious()">
      Précédent
    </button>
    <img class="questionImage" [src]="question.image" alt=""/>
    <div class="boiteVideo" *ngIf="question.type==QuestionType.Blindtest">
      <audio controls>
        <source [src]="question.trackSources" type="audio/mp3">
      </audio>
    </div>
    <button class="button-card" id="suiv" (click)="getNext()">
      Suivant
    </button>

    <p id="points">
      Vous avez {{this.quizOG.points}} points
    </p>

    <table class="tableanswer">
      <td>
    <div class="answer" *ngFor="let answer of question.answers; let i=index "
         (click)="selectAnswer(answer)" [ngClass]="{'correct-answer': isAnswerChecked && answer.isCorrect && answer.isSelected, 'incorrect-answer': isAnswerChecked && !answer.isCorrect, 'notselected': !isQuestionAnswered(), 'selected-answer': answer.isSelected && !hasAnswered}">

          {{i}} - {{answer.value}} <ng-container *ngIf="answer.isCorrect"></ng-container>  <br>
      <!-- <i id='check' class="far fa-check-square" *ngIf="answer.isSelected"></i>-->
  </div>
    </td>
  </table>
  <button class="button-card" id="confirmbutton" (click)="checkAnswer()">
    Valider
  </button>
  <p *ngIf="nextClicked && isAnswerSelected()">
    <i *ngIf="isCorrectSelected()" id = "correct">Bonne réponse !</i>
    <i *ngIf="!isCorrectSelected()" id = "incorrect">Mauvaise réponse !</i>
  </p>
</div>

