<ng-container *ngIf="!quizEnded">
<div class="card" [ngStyle]="{'width': width,'margin-left':margin}">
    <h1 class="question-question" [ngStyle]="{'transform':transform3, 'width':width3, 'margin-left':marginleft3, 'margin-top':margintop3,'background-color':background3}" (mouseenter)="transform3=transform2; width3=width2; marginleft3=marginleft2; margintop3=margintop2; background3=background2" (mouseleave)="transform3='scale(1)'; width3='64%'; marginleft3='18%'; margintop3='2%'; background3='unset'">

      <p id="yo" >
      {{question.label}}
       </p>
    </h1>
    <div class="content" [ngStyle]="{'margin-top':margintopContent}">
    <button class="button-card" id="prec" [ngStyle]="{'margin-left':marginrifhtPrecStade3}" (click)="getPrevious()">
      Précédent
    </button>

    <img class="questionImage" [ngStyle]="{'transform':transform, 'z-index':zindex3, 'margin-left':marginleftQuestImageStade3, 'width':widthQuestImage}" (mouseenter)="transform=transform2; zindex3=zindex2" (mouseleave)="transform='scale(1)'; zindex3='10'" [src]="question.image" alt=""/>
    <button class="button-card" id="suiv" [ngStyle]="{'margin-left': marginleftSuivStade3}" (click)="getNext()">
      Suivant
    </button>
    <div class="boiteVideo" *ngIf="question.type==QuestionType.Blindtest">
      <audio controls>
        <source [src]="question.trackSources" type="audio/mp3">
      </audio>
    </div>
      <p id="points" [ngStyle]="{'margin-left': marginleftPoint, 'margin-top':margintopPoint}">
      Vous avez {{this.quizOG.points}} points
    </p>
    <p id="zoom" [ngStyle]="{'margin-left': marginleftZoom}">
      Zoom
    <button class="toggle-switch" [ngClass]="{'active': switchState}" (click)="toggleSwitch()"></button>
    </p>

    <table class="tableanswer">
      <td>
    <div class="answer" *ngFor="let answer of question.answers; let i=index " [ngStyle]="{'transform':transform4, 'position':position3, 'margin-top':margintop5, 'margin-bottom':marginbottom3}" (mouseenter)="transform4=transform2; position3=position2; margintop5=margintop4; marginbottom3=marginbottom2" (mouseleave)="transform4='scale(1)'; position3='unset'; margintop5='5px'; marginbottom3='0%'"
         (click)="selectAnswer(answer)" [ngClass]="{'correct-answer': isAnswerChecked && answer.isCorrect && answer.isSelected, 'incorrect-answer': isAnswerChecked && !answer.isCorrect, 'notselected': !isQuestionAnswered(), 'selected-answer': answer.isSelected && !hasAnswered}">

          {{i}} - {{answer.value}} <ng-container *ngIf="answer.isCorrect"></ng-container>  <br>
      <!-- <i id='check' class="far fa-check-square" *ngIf="answer.isSelected"></i>-->
  </div>
    </td>
  </table>
  <p *ngIf="nextClicked && isAnswerSelected()">
    <i *ngIf="isCorrectSelected()" id = "correct">Bonne réponse !</i>
    <i *ngIf="!isCorrectSelected()" id = "incorrect">Mauvaise réponse !</i>
  </p>
</div>
  </div>
  <button class="button-card" id="confirmbutton" [ngStyle]="{'margin-top':margintopConfirmButton}" (click)="checkAnswer()">
    Valider
  </button>
</ng-container>

<ng-container *ngIf="quizEnded">
<div class="card">
  <h1 class="question-question">
    Résultats
  </h1>
  <table class="tablestats">
    <tr class="tr2">
      <th class="th1">Question</th>
      <th class="th1">Votre réponse</th>
      <th class="th1">Réponse correcte</th>
    </tr>
    <tr *ngFor="let question of quizOG.questions; let i=index" class="tr2">
      <td class="td1">{{i+1}}. {{question.label}}</td>
      <td class="td1">{{getAnswerValue(question)}}</td>
      <td class="td1">{{getCorrectAnswerValue(question)}}</td>
    </tr>
  </table>
  <p>
    Vous avez répondu correctement à {{getCorrectAnswersCount()}} question(s) sur {{quizOG.questions.length}}.
  </p>
  <button class="button-card" id="restartbutton" (click)="restartQuiz()">
    Recommencer
  </button>
  <button class="button-card" id="homebutton" (click)="goHome()">
    Quitter
  </button>
</div>
</ng-container>
