  <div class="card">
      <p id="yo">
        <i class="fab fa-leanpub"></i>
         {{question.label}}
      </p>
      <script>
      var h2 = document.getElementById("yo");
      function zoom(){
        h2.style.height="100px";
        h2.style.width="100px";
        h2.style.textAlign="center";
        h2.style.border="2px solid black";
      }
      h2.addEventListener("click",zoom());
    </script>


    <img class="jeanGabin" [src]="question.image"/>


    <div class="answer" *ngFor="let answer of question.answers;  let i=index"  >
      <table><td >
        {{i}} - {{answer.value}} <ng-container *ngIf="answer.isCorrect"></ng-container>  <br>
        </td>
        <i id='check' class="far fa-check-square" (click)="answerLayout(answer)" ></i>
      </table>
    </div>

    <button class="button-card" (click)="delete()">Suivant</button>
</div>
