<div class="card">
  <h2>Créer un nouveau quizz</h2>
  <form class="quiz-form" [formGroup]="quizForm" (ngSubmit)="addQuiz()">
    <label for="name">
      Titre du quizz <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label>
      Thème du quizz <br>
    </label>
    <select [formControlName]="'theme'" id="theme" required>
      <option [ngValue]="null" [disabled]="true" >Choisissez un thème</option>
      <option *ngFor="let theme of themes" [value]="theme.id" (click)="setTheme(theme.id, theme.name)">{{theme.name}}</option>
    </select>
    <br>
    <label for="image">
      Image <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
    <br>
    <button [disabled]=!this.quizForm.valid class="button-card" type="submit">Créer le quizz</button>
  </form>
</div>
