<div class="card">
  <h2>Créer un nouveau quizz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre du quizz <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label>
      Thème du quizz <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <label for="image">
      Image <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer le quizz</button>
  </form>
</div>

