<div class="card">
  <h2>Créer une nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Intitulé <br>
      <input class="input-custom" type="text" id="label" maxlength="40" [formControlName]="'label'">
    </label>
    <br>
    <label for="image">
      Image <br>
      <input class="input-custom" type="text" id="image" data-testid = "questionformimage" [formControlName]="'image'">
    </label>
    <br>
    <label for="trackSources">
      Son (si vous souhaitez créer un BlindTest) <br>
      <input class="input-custom" type="text" id="trackSources" [formControlName]="'trackSources'">
    </label>
    <br>
    <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse
            <input type="text" id="answer{{i}}" [formControlName]="'value'">
            <button type="button" (click)="removeAnswer(i)">X</button>
            Correct ?
            <input type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuestion()">Créer la question</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
