<div class="card">
  <h2>Bienvenue, {{user.firstName}} {{user.lastName}}</h2>
  <div class="button-group">
    <div class="button-item">
      <img class="img" src="../../assets/images/oeil.png" height="80" width="80">
      <Button class="button-card" data-testid="vision" routerLink='/stade1/{{user.id}}'>
        Configuration de la vision
      </Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/choisir.png" height="80" width="80">
      <Button class="button-card" data-testid="quizz" [routerLink]="['/app-quiz-theme']">
        Accéder aux quizz
      </Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/statistiques.png" height="80" width="80">
      <Button class="button-card" [routerLink]="['/statistic-list']">
        Statistiques
      </Button>
    </div>
  </div>
</div>
