@import '../../../styles/card.scss';

.button-card{
  text-align: center;
  margin-right: 5em;
}

.h2{
  margin-bottom: 50em;
}

.card{
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

*{
  text-decoration: none;
}
