<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stats.component.css">
  <title>Stats</title>
</head>
<body>
<div class="global">
    <div class="header">
    <h1>Les statistiques générales</h1>
      <!--<h2>Menu</h2>
      <script>
        var p1= document.querySelector('h2');
        p1.onclick=function (){
          this.innerHTML='<strong>Bravo!</strong>'
          this.style.color='orange';
        }
      </script>-->
  </div>
  <div class="chart">
  <table>
    <tr>
      <td>Nombre de quiz</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Poucentage de victoire</td>
      <td>150%</td>
    </tr>
    <tr>
      <td>Nombre de quiz</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Nombre moyen d'erreur par quiz</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Nombre de retour moyen par quiz</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Nombre d'abandon</td>
      <td>10</td>
    </tr>
    <tr>
      <td>changement de stade</td>
      <td>4</td>
    </tr>
  </table>
</div>
</div>
</body>
</html>
