@import '../../../styles/card.scss';
@import '../../quizzes/theme-form/theme-form.component.scss';

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list .col-md-4 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}
