<div class="card">
  <h2>Espace Administrateur</h2>
  <div class="button-group">
    <div class="button-item">
      <img class="img" src="../../assets/images/mot-de-passe.png" height="80" width="80">
      <Button class="button-card" routerLink='/change-mdp'>Modifier le mot de passe</Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/creer.png" height="80" width="80">
      <Button class="button-card" routerLink='/quiz-form' data-testid="createquizzbutton">Créer un quizz</Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/projet.png" height="80" width="80">
      <Button class="button-card" id="Gestion_des_thèmes" routerLink='/theme-form'>Gestion des thèmes</Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/projet.png" height="80" width="80">
      <Button class="button-card" routerLink='/quiz-list' data-testid="managequizzbutton">Gestion des Quizzs</Button>
    </div>
    <div class="button-item">
      <img class="img" src="../../assets/images/ajouter-un-utilisateur.png" height="80" width="80">
      <Button class="button-card" data-testid="manageUser" routerLink='/user-list'>Gestion des patients</Button>
    </div>
  </div>
</div>
