<div class="card">
  <h2>Statistiques générales</h2>
  <h3>
    <tr>
      <th>Nombre de Quizz</th>
      <th>5</th>
    </tr>
    <tr>
      <th>Pourcentage de victoire</th>
      <th>80%</th>
    </tr>
    <tr>
      <th>Nombre moyen d'erreurs par quizz</th>
      <th>2</th>
    </tr>
    <tr>
      <th>Nombre de retour en arrière moyen par quizz</th>
      <th>3</th>
    </tr>
    <tr>
      <th>Nombre d'abandons</th>
      <th>2</th>
    </tr>
    <tr>
      <th>Changements de stade</th>
      <th>1</th>
    </tr>
  </h3>
</div>
