<div class="card">
  <h2>Statistiques générales</h2>
  <h3>
    <tr>
      <th>Nombre de Quizz</th>
      <th>5</th>
    </tr>
    <tr>
      <th>Pourcentage de victoire</th>
      <th>80%</th>
    </tr>
    <tr>
      <th>Nombre moyen d'erreurs par quizz</th>
      <th>2</th>
    </tr>
    <tr>
      <th>Nombre de retour en arrière moyen par quizz</th>
      <th>3</th>
    </tr>
    <tr>
      <th>Nombre d'abandons</th>
      <th>2</th>
    </tr>
    <tr>
      <th>Changements de stade</th>
      <th>1</th>
    </tr>
  </h3>
</div>
<div id="center">
  <h1 id="res">Résultats pour le soignant</h1>
  <table class="tablestats" >
    <tr class="tr2">
      <th class="th1">Question</th>
      <th class="th1">Votre réponse</th>
      <th class="th1">Réponse correcte</th>
    </tr>
    <!--
    <tr *ngFor="let question of quizOG.questions; let i=index" class="tr2">
      <td class="td1">{{i+1}}. {{question.label}}</td>
      <td class="td1">{{getAnswerValue(question)}}</td>
      <td class="td1">{{getCorrectAnswerValue(question)}}</td>
    </tr>
  -->
  </table>
  <!--<p id="nbrep">
    Vous avez répondu correctement à {{getCorrectAnswersCount()}} question(s) sur {{quizOG.questions.length}}.
  </p>
-->
</div>
