@import '../../users/user-list/user-list.component.scss';

.quiz-theme{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1rem;
  overflow: auto;

}


.theme_list{
  flex-wrap: wrap;
}

