<form [formGroup]="recherche">
  <div class="search-bar" id="searchDiv">
    <input for="motrecherche" type="text" id="inputText" placeholder="Ecrire le nom d'un thème"[formControlName]="'motrecherche'" >
    <div></div>
    <button type="submit" id="search" (click)="getThemes()">Rechercher</button>
  </div>
</form>

<div class="quiz-theme">
  <div class="theme_list" *ngFor="let theme of themeList">
    <table class="table">
    <app-theme [theme]="theme"></app-theme>
    </table>
  </div>
</div>


