.main-content {
  padding: 0 1em 0 1em;
  text-align: center;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius:70%;
  border:solid black;
  background-color: white;
}
