@import '../../../styles/card.scss';

.user-list {
  display: flex;
  flex-wrap: wrap;
}

#inputText {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

#search {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#search:hover {
  background-color: #45a049;
}
.user-list .col-md-4 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list .col-md-4 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

#search{
  margin-top: 0.5%;
  width: 40%;
  border-radius: 13px;
  border: 1px solid black;
}

#inputText{
  width: 50%;
  border-radius: 13px;
  border: 1px solid black;
}

#searchDiv{
  position: relative;
  margin: 1% auto 0;
}











