<div class="card">

<button class="button-card" routerLink="/quiz-list/{{this.quiz.theme}}">Retour</button>
  <h2>Modifier le quizz</h2>
<ng-container *ngIf="quiz">
  <div>
  <div>
    <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
    Nouveau titre <br>
    <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <br>
    <label for="image">
      Nouvelle image <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
      <br>
      <br>
      <select [formControlName]="'theme'" id="theme" required>
        <option [ngValue]="null" [disabled]="true" >Choisissez un thème</option>
        <option *ngFor="let theme of themes" [value]="theme.id" (click)="setTheme(theme.id, theme.name)">{{theme.name}}</option>
      </select>
    </form>
    <br>
  </div>
  <button class="button-card"(click)="updateQuiz()" routerLink="/quiz-list/{{this.quiz.theme}}">Confirmer</button>
    <div>
      <form class="delete-form" [formGroup]="deleteForm">
        <select [formControlName]="'id'" id="id">
          <option [ngValue]="null" [disabled]="true" >Choisissez une question à supprimer</option>
          <option *ngFor="let question of questionList" [value]="question.id">{{question.label}}</option>
        </select>
        <br>
        <button class="button-card" type="submit" (click)="deleteQuestion()" routerLink="/quiz-list/{{this.quiz.theme}}">Supprimer la question</button>
      </form>
    </div>
  </div>
  <app-question-form [quiz]="quiz"></app-question-form>
</ng-container>
</div>



