@import '../../../styles/card.scss';

.go-to{
  cursor: pointer;
}

.stade1{
  transform: translate(0, 30%);
}
.vald{
  margin-top: 30px;
}
body {
  position: absolute;
  height: 90%;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-left: 0;
  padding: 0;
  z-index: -1;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%;
  background-color: $white;
}

.button-card{
  margin:5px;
}

