<body [ngStyle]="{'width': width,'margin-left':margin}" ></body>
<div class="stade1">
<div class="card">
  <h2>Configuration Vision</h2>
  <h3>Stade</h3>
  <a class="button-card" data-testid="stade1" (click)=stadeUpdate() >Stade 1</a>
  <a class="button-card" data-testid="stade2" (click)=stadeUpdate2()  >Stade 2</a>
  <a class="button-card" data-testid="stade3" (click)=stadeUpdate3()>Stade 3</a>
  <div class="vald">
    <a class="button-card" data-testid="valider" routerLink='/home-page/{{this.id}}'>Valider </a>
  </div>

</div>
</div>
